/*
***************************************************************
***********  Css File *****************************
******************************************************
**************************************************
*/


body{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #465052;
  /*background:#e7e7e9;*/
}
a{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #4CB9D2;

}
a:hover{
  text-decoration: none;
}
.padding-lr-o{
	padding-left:0px  !important;
	padding-right:0px  !important;
}
/*
*********************************
*********** Header ************
*****************************
*/
.submit-button{
    background: #0484cf;
    padding: 10px 20px;
    color: #fff;
    border-radius: 4px;
    margin-top: 10px;
    display: inline-block;
	border:0px;
}
.submit-button:hover{
	
	background: #034c77;
	text-decoration:none;
    
    color: #fff !important;
}
.btn-default:hover{
	color:#000 !important;
}
.navbar-toggle .icon-bar{
background:#fff;
}
header {
  padding: 20px 0px;
  background:#0499dd;
}
header .logo{
    margin-top: 5px;
	display:inline-block;
}
.navbar-nav a{
	color:#fff;
	font-weight:bold;
} 
.navbar-nav a:hover{
	background:none !important;
	}
	.navbar-nav li:hover{
	background:none !important;
	}

.login-form input{
	width:150px  !important;
	float:left;
	background:#f4f4f4;
	border:0px;
	border-radius:0px;
	margin-right:5px;
}
.login-form input.login-email{
	width:200px  !important;
}
.login-form .login-button {
	background:#ffffff;
	color:#0281ce;
	border-radius:0px;
	padding:6px 15px;
	 
}
.navbar-form {
	padding:0px !important;
	margin:0px !important;
}
.home-slider-signup-inner{
	padding:15px;
}
.signup-form input{
	border-radius:0px;
	margin-bottom:10px;
	border:#40b2e5 solid 2px;
} 
.signup-form select{
	display:inline-block;
	width:32.5%;
	margin-right:0px !important;
	border-radius:0px;
	margin-bottom:10px;
	border:#40b2e5 solid 2px;
	    padding: 5px;
}
.signup-form select {
	color:#999 !important;
}
.signup-form select option{
	color:#555 !important;
}
.select-half-on select{
	/*width:46%!important; */
	display:inline-block;
	    margin-right: 5px !important;
}
.signup-form .expiry select{
 
	width:49%;
 
}
.signup-form-step  .form-control[readonly] {
	color:#999 !important;
}
.by-click label{
	font-size:11px;
	margin-left:10px;
}
.by-click label a{
	font-size:11px;
	text-decoration:underline;
 
}
.padding-0-full{
	padding:0px !important;
}
.forgot-password{
	float:right;
	color:#fff;
	margin-right: 112px;
}
.forgot-password:hover{
	text-decoration:underline;
	color:#fff;
}
a{
	    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.navbar-toggle { 
    margin-top: 13px;
    margin-right: 0px;
}
.add-profile-pic{
    width: 100%;
    margin: 15px 0px;
}
.signup-form .submit-button{
	background:#0484cf;
	padding:10px 20px;
	color:#fff;
border-radius:4px;
margin-top:10px;
    display: inline-block;
	text-transform:uppercase;
}
.home-slider-signup-inner h1{
	margin:0px;
	padding:0px;
	color:#274ea1;
	font-size:24px;
	margin-bottom:5px;
}
.log-out-button {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}
.home-slider-signup-inner h3{
	margin:0px;
	padding:0px;
	color:#67b2de;
	font-size:14px;
	margin-bottom:15px;
}
 .home-slider-signup-inner label{
	     display: inline-block;
    max-width:inherit;
    margin-bottom: 0px;
    font-weight: normal;
	margin-right:10px;
 }
.home-slider-signup-inner a{
	/* margin-right:5px;
	   padding:5px 10px!important;
	   text-decoration:none;
	   color:#3d3d3d;
	   margin-top:10px;
	       display: inline-block;*/
		   
		     color:#3d3d3d;
}
.home-slider-signup-inner a.active{
    color: #fff;
	background:#0484cf;
	border-radius:4px;
}
.home-slider-signup-inner .submit-button {
    background: #5d974a;
    padding: 10px 20px;
    color: #fff;
    border-radius: 4px;
    margin-top: 10px;
    display: inline-block;
    border:#4f7c3b solid 1px;
	text-shadow: 1px 1px 1px #4f7c3b; 
}
 .home-slider-signup-inner .card-brand label {
  font-size:13px;
 }
.home-slider-signup-inner .radio input[type=radio] {
    /*position: absolute;
    visibility: hidden;*/
}
.padding-0{
	padding:0px !important;
}
.navbar-nav   li   a{
  /*   padding: 10px 6px;*/
	 
	 
}
.navbar-nav li a:hover,.navbar-nav   li   a.active{
	border-bottom:#fff solid 3px  !important;
color:#fff;
}
.navbar-collapse{
	padding-left:0px;
	padding-right:0px; }

.home-blue-wrapper{
	background:#0499dd;
}
.home-blue-wrapper-inner{
	font-size:24px;
	text-align:center;
	color:#fff;
	padding:25px 10px;
}
.save-money-section{
	background:#d4fbff;
	padding:30px 0px;
}
.save-money-section-inner{
	text-align:center;
	
}
.save-money-section-inner h2{
	color:#6e6e6e;
	font-size:45px;
}
.save-money-section-inner p{
	color:#0e85c9;
	font-size:16px;
}
.save-money-inner-icon{
	font-size:16px;
	color:#0079ca;
	width:80%;
	margin: 0 auto;
}
.save-money-inner-icon i{
	color:#5d974a;
	 
}
.save-money-inner-icon img{
    margin-top: -26px;
}
.save-money-inner-icon span{
	color:#43b3e5;
	font-size:60px;
	font-weight:700;
	margin:0px 5px;
}
.our-serivce-inner{
	padding:30px 0px;
	text-align:center;
	/*border-bottom:#bebfc1 solid 2px;*/
	display:inline-block;
}
h1.title-blue{
	color:#0093d9;
	font-size:46px;
}

#ratingForm label{
	width:100%;
}
.our-serivce-inner .service-title{
	font-size:18px;
	font-weight:700;
	color:#515153;
	padding:10px 0px;
}
.our-serivce-inner .service-text{
	font-size:14px;
	font-weight:700;
	color:#707071;
	padding:10px 15px;
}
.what-we-treat-inner{
	padding:30px 0px;
}
.what-we-treat-boxes{
	margin:0 auto;
	width:90%;
}
.what-we-treat-inner .what-we-treat-box{
	margin:20px 0px;
	width:20%;
	float:left;
	min-height:120px;
}
.what-we-treat-inner .what-we-treat-box .treat-title{
	color:#707071;
	font-size:16px;
	padding:10px 0px;
}
.what-we-treat-text{
	font-size:22px;
	color:#656566;
	width:100%;
	display:inline-block;
}

.cost-section{
	background:#d4fbff;
	padding:20px 0px;
}
.cost-section h1{
	margin-top:0px;
}
.cost-section{
	color:#656b6c;
	font-size:21px;
}
.our-team .our-team-inner{
	padding:30px 0px;
	display:inline-block;
	width:100%;
	position:relative;
}
.white-box{
	    background: rgba(255,255,255,.5);
    position: absolute;
        height: 450px;
    width: 275px;
    z-index: 999;
 
}



.doc-box-right{
	right:0px;
}
.our-team .our-team-inner h1{
	margin-bottom:25px;
	width:100%;
	display:inline-block;
}
.our-team .our-team-inner .team-name{
	 
	color:#2e9ac1;
	padding:10px 10px;
	text-align:center;
	font-size:21px;
}
.our-team .our-team-inner .team-text{
	padding:5px 20px;
	text-align:center ;
}

footer{
	background:#0484cf;
	padding:20px 0px;
	 
}
footer a{
	color:#fff;
	
}
.footer-text{
	color:#FFFFFF;
	font-size:16px;
	padding:10px 40px;
	text-align:center;
}
.footer-nav{
	width:80%;
	margin:10px 12%;
	border-bottom:#fff solid 1px;
	text-align:center;
	display:inline-block;
	padding:15px 30px;
}
.footer-nav ul{
	list-style:none;
	margin:0px;
	padding:0px;
	display:inline-block;
	float:left;
	 
}
.foot-nav-inner{
	text-align:center;
}
.footer-nav ul li{
	float:left;
	border-right:#fff solid 1px;
	margin-right:5px;
}
.footer-nav ul li a{
	text-decoration:none;
	color:#fff;
	padding:0px 30px;
}
.footer-nav ul li a:hover{
	text-decoration:underline;
}
.border-0{
	border:0px !important;
}
.socail-icon{
	 
	margin-left:15px;

}
.socail-icon a:hover {
 
}
.socail-icon a:hover img{
	opacity:.8;
}
.footer-icon{
	color:#fff;
	width:175px;
	font-size:18px; 
	display:inline-block;
}
.footer-icon img{
	margin-right:15px;
}
.signup-form-step{
	padding:60px 0px;
}
.padding-right-0{padding-right: 0px !important;}
.signup-form-step label{
	width:100%;
	display:inline-block;
	color:#59595b;
	font-size:17px;
}
.signup-form-step input,.signup-form-step textarea  {
    border-radius: 0px;
    margin-bottom: 10px;
    border: #40b2e5 solid 2px;
	 
}
.signup-form-step h2{
	color:#0499db;
	font-size:23px;
	margin:0px;
	margin-bottom:15px;
}
.signup-form-step .contact-detail-last{
	padding-top:38px;
}
.signup-form-step select {
    display: inline-block;
    width: 32%;
    margin-right: 0px !important;
    border-radius: 0px;
    margin-bottom: 10px;
    border: #40b2e5 solid 2px;
    padding: 5px;
}
.statutory-section{
	background:#d4fbff;
	padding:40px 0px;
}

.statutory-section input,.statutory-section textarea  {
    border-radius: 0px;
    margin-bottom: 10px;
    border: 0px;
	 
}
.statutory-section h2{
	color:#0499db;
	font-size:23px;
	margin:0px;
	margin-bottom:15px;
}
.statutory-section .expiry select {
    display: inline-block;
   
    margin-right: 0px !important;
    border-radius: 0px;
    margin-bottom: 10px;
    border: 0px;
    padding: 5px;
}
.statutory-section  input {
    display: inline-block;
    margin-right: 0px !important;
    border-radius: 0px!important;
    margin-bottom: 10px!important;
    border: #40b2e5 solid 2px!important;
    padding: 5px!important;
}
.statutory-section .expiry label{
	width:100%;
}
.statutory-section label{
	width:100%;
	display:inline-block;
	color:#545353;
	font-size:17px;
}
.other-profile-section{
	padding:30px 0px;
}
.other-profile-section h2{
	color:#0499db;
	font-size:23px;
	margin:0px;
	    margin-top: 26px;
}
.other-profile-section input,.other-profile-section textarea ,.form-control{
    border-radius: 0px;
    margin-bottom: 10px;
    border: #40b2e5 solid 2px;
	 
}

 select {
     display: inline-block;
    
    margin-right: 0px !important;
    border-radius: 0px!important;
    margin-bottom: 10px!important;
    border: #40b2e5 solid 2px!important;
    padding: 5px!important;
}
.other-profile-section select {
     display: inline-block;
    width: 32%;
    margin-right: 0px !important;
    border-radius: 0px;
    margin-bottom: 10px;
    border: #40b2e5 solid 2px;
    padding: 5px;
}
.other-profile-section label{
	width:100%;
	display:inline-block;
	color:#fff;
	font-size:14px;
}
.other-profile-section #idd select{
	width:32.33%;
	display:inline-block;
}
.submit-btn{
    background: #0484cf;
    padding: 10px 20px;
    color: #fff;
    border-radius: 4px;
    margin-top: 10px;
    display: inline-block;
}

.tab-pane input,.tab-pane textarea  {
    border-radius: 0px;
    margin-bottom: 10px;
    border: #40b2e5 solid 2px;
	 
}
.tab-pane select {
     display: inline-block;
    width: 32%;
    margin-right: 0px !important;
    border-radius: 0px;
    margin-bottom: 10px;
    border: #40b2e5 solid 2px;
    padding: 5px;
}
.tab-pane label{
	width:100%;
	display:inline-block;
	color:#545353;
	font-size:17px;
}
.tab-pane .radio label{
	width: auto;
	 
}
.tab-pane .submit-button{
    background: #0484cf;
    padding: 10px 20px;
    color: #fff;
    border-radius: 4px;
    margin-top: 10px;
    display: inline-block;
}


.add-more{
	color:#40b2e5 ;
	font-size:16px;
	margin:10px 0px;;
}
.border-left-cl{
	 border-left: #40b2e5 solid 1px;
	 padding-right:25px  !important;
	     min-height: 240px !important;
 }
 .profile-table .table-header{
	/*width:50%;*/
	padding:15px 0px;
	background:#0499dd;
	color:#ffffff;
	float:left;
	font-size:21px;
	text-align:center;

 }
 .profile-table{
	border:#7f7f81 solid 1px;
	display:inline-block;
	width:100%;
 }
 .profile-table .table-data{
	/*width:50%;*/
	padding:15px 10px !important;
	float:left;
	font-size:21px;
	text-align:center;
	border-bottom:#7f7f81 solid 1px;
	min-height:70px;

 }
  .profile-table .table-data input{
	  margin-bottom:0px;
	  border:0px;
	  box-shadow:inherit;
  }
   .profile-table .table-data select{
   width: 31%;
   margin-bottom:0px !important;
    border:0px  !important;
	-moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
	 box-shadow:inherit;
	}
	 .profile-table .table-data input:-moz-read-only { /* For Firefox */
    background-color: #fff;
}

 .profile-table .table-data input:read-only {
    background-color:  #fff;
}

   .profile-table .table-data select:disabled{
      background-color:  #fff;
}
.save-button {
    background: #0484cf;
    padding: 6px 20px;
    color: #fff;
    border-radius: 4px;
    margin-top: 0px;
    display: inline-block;
	    border: 0px;
    font-size: 15px;
}
.save-button:hover{
	text-decoration:none;
	color:#fff;
}
 .tab-pane input{
     margin-bottom: 0px;
 }
 .form-button {
    background: #0484cf;
    padding: 6px 20px;
    color: #fff;
    border-radius: 4px;
    margin-top: 0px;
    margin-bottom:20px;
    display: inline-block;
}
 .border-right{
	border-right:#7f7f81 solid 1px;
 }
 .profile-table .table-data.last{
	border-bottom:0px !important;
 }
  .appointment-link-inner{
	  padding:40px 0px; 
  }
 .appointment-link-inner a{
	background:#40b2e5;
	padding:20px 30px;
	color:#fff;
	border-radius:3px;
	font-size:18px;
	width:100%;
	display:inline-block;
	text-align:center;
	margin-bottom:20px;
    text-transform: uppercase; 
 }
 .appointment-link-inner a.inactive{
	   pointer-events: none;
	   background:#d4d2d2;
 }
 .appointment-link-inner a span{
	 font-size:14px;
 }
 .log-out-button{
     margin: 5px 10px;
     float: right;
 }
 .appointment-link-inner a:hover{
     	background:#0499dd;
     color:#fff;
     text-decoration: none;
 }
 .appointment-table-inner{
	 
	display:inline-block;
	width:100%;
 }
 .appointment-table-inner .table-data{
	width:33.333%;
	padding:15px 0px;
	float:left;
	font-size:16px;
	text-align:center;
	min-height: 53px;
	border-bottom:#7f7f81 solid 1px;

 }
 .border-right{
	border-right:#7f7f81 solid 1px;
 }
 .appointment-table-inner .table-data.last{
	border-bottom:0px !important;
 }
   .appointment-table-inner .table-header{
	width:33.333%;
	padding:15px 0px;
	background:#0499dd;
	color:#ffffff;
	float:left;
	font-size:16px;
	text-align:center;

 }
    .appointment-table-inner.pending-payments-table-inner .table-header,.appointment-table-inner.pending-payments-table-inner .table-data{
	width:20% !important;
}
.appointment-table-inner.pending-payments-table-inner .table-header.tb-10 ,.appointment-table-inner.pending-payments-table-inner  .table-data.tb-10{
width:10% !important;
}
 .appointment-table{
	background:#d4fbff;
	padding:40px 0px;
}

 .appointment-table h2{
	color:#0499db;
	font-size:23px;
	margin:0px;
	margin-bottom:15px;
}
.treat-innerappointment{
	border-bottom:#bcbcbe solid 1px;
}
.appointment-list-section{
	padding:40px 0px;
}
.appointment-list-box{
	padding:5px 0px;
	border-top:#41b3e7 solid 1px;
	margin-top:60px;
}
.appointment-list-box h3{
	background:#fff;
	padding:5px 0px;
	margin-top:-26px;
	font-size:22px;
	padding-right:10px;
	float:left;
	display:inline-block;
}
.service-image img{
	width:100%;
}

.sad-modal .modal-content{
	background:#0484cf;
	color:#fff;
}
.sad-modal input{
	padding: 10px;
        border-radius:0px;
		height:auto;
}
.sad-modal select{
	padding: 10px;
        border-radius:0px;
         width: 100%;
}
.sad-modal textarea{
	padding: 10px;
        border-radius:0px;
        width: 100%;
}
button.close{
	color: #fff;
    position: absolute;
    right: 15px;
    top: 10px;
    opacity: .4;
    font-size: 30px;
    font-weight: 300;
	z-index:999;
}
.sad-modal .modal-body {
    position: relative;
    padding: 40px;
}
.sad-modal h2{
	font-size:22px;
	margin:10px 0px;
	padding:0px;
}
.see-doctor-now{
	margin-bottom:35px;
	display: inline-block;
}
.sad-modal  .sad-button{
	background:#fff;
	color:#186f9a;
	font-size:14px;
	text-decoration:none;
	padding:5px 15px;
	border-radius:4px;
	    display: inline-block;
}
button.close:hover{
	color: #fff;
	 opacity: 1;
	}
.schedule-appointment{
	display:inline-block;
	width:100%;
}
.radio label{
	margin-right:10px;
}	
.request-a-doctor p{
	margin-bottom:20px;
}
.text-link-modal{
	color:#ffffff;
	font-size:18px;
	margin-right:15px;
}

.user-profile-section{
	padding:40px 0px;
}

 .doctor-info-form input ,  .doctor-info-form  textarea{
    border-radius: 0px;
    margin-bottom: 10px;
    border: #40b2e5 solid 2px;
}
 .doctor-info-form .submit-button {
    background: #0484cf;
    padding: 10px 20px;
    color: #fff;
    border-radius: 4px;
    margin-top: 10px;
    display: inline-block;
}
.submit-save-button{
	background: #0484cf !important;
    padding: 10px 65px !important;
    color: #fff !important;
    border-radius: 4px !important;
    margin-top: 20px !important;
    display: inline-block  !important;
	font-size:18px !important;
}
.user-profile-section input, .user-profile-section textarea {
    border-radius: 0px;
    margin-bottom: 10px;
    border: #40b2e5 solid 2px;
}
.user-profile-section select {
    display: inline-block;
    width: 32%;
    margin-right: 0px !important;
    border-radius: 0px;
    margin-bottom: 10px;
    border: #40b2e5 solid 2px;
    padding: 5px;
}
.tab-pane{
	padding:25px 10px; 
}

.nav-tabs{
    border-bottom: 1px solid #0497dc;
}


.nav-tabs > li > a {
    margin-right: 20px;
    line-height: 1.42857143;
   border: 1px solid #0497dc;
    border-radius: 4px 4px 0 0;
	padding:10px 30.1px;
	font-size:16px;
	
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: pointer;
    background-color: #0497dc;
    border: 1px solid #0497dc;
    border-bottom-color: transparent;
	
}
.nav-tabs > li > a:hover {
    color: #fff;
    cursor: pointer;
    background-color: #0497dc;
    border: 1px solid #0497dc;
    border-bottom-color: transparent;
}
.table-design .table-header {
    background: #0398dc;
}
.table-design .table-header .table-head-col{
    background: #0398dc;
    /*width: 25%;*/
    float: left;
    padding: 15px;
   /* text-align: center;*/
    color: #fff;

}
.table-design .table-body .table-row{
border-bottom:#eaeaea solid 1px; 
clear:both;
}
.table-design .table-body .table-col{
	
	/*width:25%;*/
	float:left;
	padding:15px;
	/*text-align:center;*/
        min-height: 65px;
	 

}
#my-allergies .table-design .table-header .table-head-col, #my-allergies .table-design .table-body .table-col{
	/*width:33.333%;*/
}
#existing-condition .table-design .table-header .table-head-col, #existing-condition .table-design .table-body .table-col{
	/*width:100%;*/
}
#family-history .table-design .table-header .table-head-col, #family-history .table-design .table-body .table-col{
	/*width:33.333%;*/
}
#my-doctors .table-design .table-header .table-head-col, #my-doctors .table-design .table-body .table-col{
	/*width:25%;*/
}
.button-submit{
    margin: 10px 0px;
}
.date-select-small select{
    width: 32%;
	display:inline-block;
}
.dashboard-section{
	padding:50px 0px;
 }
.dashboard-table{
}
.dashboard-table .table-header .table-head-col{
    background: #0398dc;
    width: 33.333%;
    float: left;
    padding: 15px;
    text-align: center;
    color: #fff;

}
.med-detail-wrapp .table-body .table-col{
	border-bottom:#eaeaea solid 1px;
}
.dashboard-table .table-body .table-col{
	border-bottom:#eaeaea solid 1px;
	width:33.333%;
	float:left;
	padding:15px;
	text-align:center;
}
.table-head-col-edit{
	padding:10px 15px !important;
	height:51px;
}
.dashboard-hr{
	margin:60px 0px;
}
.mobile-login{
	display:none;
}
.slider-sec{
	position:relative;
}
.slider-text{
	position:absolute;
	bottom:20px;
	right:20px;
	width:150px;
}
.slider-text h1{
	color:#fff;
	font-size:29px;
	font-weight:bold;
}
.slider-text a{
	color:#fff;
	font-size:16px;
	background:#0384CE;
	padding:10px 20px !important;
}
.credit-card-info{
	/*background:#f2f2f2;
	display: inline-block;
padding: 5px;*/
    background: #f1f7fd;
    padding: 10px;
    border: #e0eefb solid 1px;
}
.by-click{
	margin-top:10px;
}
.date-select select{
  width: 32.33%;
  display:inline-block;
 }
 .date-select label{
  width: 100%;
  display:inline-block;
 }
.profile-table .table-data{
 /*width:25%;*/
 padding:15px 0px;
 float:left;
 font-size:21px;
 text-align:center;
 border-bottom:#7f7f81 solid 1px;

 }
.profile-table .table-head{
	background:#0499dd;
	width: 100%;
	display: inline-block;
}

.profile-table .table-header{
 /*width:25%;*/
 padding:15px 0px;
 background:#0499dd;
 color:#ffffff;
 float:left;
 font-size:21px;
 text-align:center;

 }
 .complete-profile{
     background: #4cae4c;
     padding: 10px 15px;
     color: #FFFFFF;
     float: right;
     margin-top: 40px;
     border-radius:3px;
 }

.complete-profile-btn{
     background: #0398dc;
     padding: 10px 15px;
     color: #FFFFFF;
     float: right;
     margin-top: 156px;
     margin-right: 15px;
     border-radius:3px;
 }


 .complete-profile:hover{
     color:#fff;
     text-decoration: none;
 }
 .doctor-list{
     display: inline-block;
 }
 .add-doctor-btn{
     float: right;
     margin-top: 10px;
 }
 .medical-history-detail{
	 background:#f6f6f6;
	 padding:15px;
	 display:inline-block;
	 width:100%;
	 margin:15px 0px;
	 font-size:14px;
 }
 .medical-history-detail strong{
	 font-size:16px;
	 margin-bottom:15px;
	 display:inline-block;
 }
 .med-detail-wrapp{
	 margin-bottom:30px;
	 padding-bottom:20px; 
 }
  .med-detail-wrapp h3{
	 margin-bottom:10px;
 }
.medical-history-detail .col-lg-4{
	margin:10px 0px; 
	
}
.our-team-box {
	text-align:center;
}
.our-team-box .team-img{
	    display: inline-block;
	text-align:center;
	border-radius:50%;
	width:220px !important;
	height:220px; text-align: center;
	overflow: hidden;
	position: relative;
}
.our-team-box .team-img img{
	


  height: auto ;
    width:100%;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
}

.deny-button{
	background: #de3939 !important;
	margin-left: 10px !important;
}

#addmorebtn{
	    background: #0484cf;
    padding: 5px 10px;
    color: #fff;
    border-radius: 4px;
    margin-top: 10px;
    display: inline-block;
    border: 0px;
}
.on-tab-mobile{
	display:none;
}
.comp-pro-full{
	margin-top: 15px;
    width: 420px;
}
.complete-pro-proress{
	width: 70%;
	float: left;
	height: 15px !important;
	margin-top:5px;
	background:#e9ebee !important;
}
.complete-pro-proress .progress-bar{
	background:#5d974a;
}

 .complete-pro-proress-txt{
	color:#90949c; 
	font-size:16px;
}
#add-pro-pic{
	display:none;
}
.add-pro-pic-link{
	    width: 100%;
    padding: 8%;
    background: rgba(4,132,207, 0.8) ;
    color: #fff;
    position: absolute;
    bottom: 0px;
    font-size: 16px;
	cursor:pointer;
	display:none;
	left:0px;
}
.prfoile-pic-update{
	    width: 100%;
    padding: 6%;
    background: rgba(4,132,207, 1) ;
    color: #fff;
 
    bottom: 0px;
    font-size: 12px;
	cursor:pointer;
	display:none;
}
.user-pro-pic-main{
	cursor:pointer;
}
.user-pro-pic-main:hover .add-pro-pic-link{
	display:inline-block;
}
.add-pro-pic-link i{
	font-size:18px;
	margin-right:10px;
}
.ajaxloader{
	position:fixed;
	width:100%;
	height:100%;
	z-index:9999;
    flex-direction: column;
    justify-content: center;
    text-align: center;
	background:rgba(0,0,0,0.9) ;
	    top: 0;
    left: 0;
}
.ajaxloader img{
	margin-top:20%;
	    width: 80px;
}
 
#medical-profile-modal header,#medical-profile-modal footer,#medical-profile-modal  #PureChatWidget{
	display: none !important;
}
#medical-profile-modal .modal-dialog {
    width: 90%;
    margin: 30px auto;
    height: 90vh;
    overflow-y: auto;
}

#medical-profile-modal .container{
	width: 100% !important;
}

#medical-profile-modal   button.close {
  color: #212020;
font-size: 34px;
margin-right: 22px;
}

#medical-profile-modal  .table-responsive {

    width: 100% !important;

}


#timings{
	width:100%;
}
.form-register-doctor{
	padding-bottom:60px;
}
.owl-item .team-links,.owl-item .team-text{
	display:none;
}
.owl-item.active .team-links,.owl-item.active .team-text{
	display:inline-block;
	width:100%;
}
  .our-team-box{
	      min-height: 390px;
  }
	

/*
*****************************************************
*******************************************
******************************************************
*/

.form-register-doctor{
	padding:60px 0px;
	padding-top:30px;
	display:inline-block;
	width:100%;
}
.form-register-doctor .submit-button{
	margin-top:20px;
}
.form-register-doctor select{
	 
	width:100%;
	padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 2.2em !important;
}
.timing-container select{
	 float:left;
	 margin:15px 5px;
	width:48%;
}
	
.mutliSelect{
	width:100%;
	display:inline-block;
}
.mutliSelect ul{
	margin:0px;
	padding:0px;
}
.mutliSelect li{
	list-style:none;
	float:left;
	width:50%;
	text-align:left;
}
.mutliSelect li input {
	margin-right:10px;
}
.and-text{
	width:100%;
	text-align:center;
}

/**************


*************/

#psychologistselector{
	height:37px;
}
.doc-name{
	float: left;
    padding-right: 10px;
    width: 30%;
}
.doc-name img{
	width:100% !important;
}
.doc-discription{
	 color: #000;
    float: left;
    width: 70%;
}

.doc-discription h3{
	margin-top:0px; margin-bottom:0px; font-size:16px; font-weight:700;
}

.doc-discription i i{
	color: #ccc;
}
.doc-discription i i.active{
	color:#4cae4c ;
}

.doc-discription p{
    margin-bottom: 2px;
    
}

.psycho{
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}





/**********************************************/
.video-section{
	position:relative;
	height:100%;
}
.video-chat-options{
	 background:rgba(4, 153, 221, 0.7);
	 padding:25px 0px;
	 color:#fff;
	 font-size:24px;
	 position:absolute;
	 bottom:0px;
	 width:100%;
	z-index:999;
}
.dotor-name-video-sec{
	 background:rgba(4, 153, 221, 0.7);
	 padding:10px 30px;
	 color:#fff;
	 font-size:21px;
	 position:absolute;
	 bottom:170px;
	 text-transform:uppercase;
	 z-index:999;
}
.video-chat-options span{
	font-size: 16px;
	margin-right:20px;
}
.video-chat-options i{
	margin-right:10px;
	font-size:28px;
	cursor:pointer;
}

.dr-video-pt{
	 position:absolute;
	 top:0px;
	 right:0px;
	 width:350px;
	 border:#fff solid 10px;
	 z-index:999;
}
.error{
	color:#ff0000 !important; 
	display:block;
	 
}

header .new-error .error {
    color: #ff0000;
    display: inline-block;
    width: 93%;
    /* float: right; */
    margin-left: 31px;
    background: rgba(255,255,255,.5);
    padding: 5px;
    margin-top: 5px;
    text-align: center;
}
.stars-doc-rate{
	color:#999;
	font-size:18px;
	margin-top:20px;
}

.stars-doc-rate i{
	margin-left:5px;
}

.stars-doc-rate i.active{
	color:#0398dc ;
}
.table-header {
	font-weight:700;
}
.now-appointment{
	margin:30px 0px;
	font-size:18px;
}
.btn-green{background-color: green}
.now-appointment .alert-warning {
    background-color: #f6ebb0 !important;
    border-color: #f8eba5 !important;
    color: #8a6d3b !important;
}
.now-appointment  h3{
	margin-top:0px;
}
.now-appointment .submit-button{
	margin-top: 20px;
	text-transform:uppercase;
}
.now-appointment .submit-button:hover{
	 background-color: #8a6d3b;
	 color:#fff;
}

.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
}
.owl-theme .owl-controls .owl-buttons div {
    background:none!important;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-size: 0px;
    margin: 5px;
    opacity: 0.5;
    padding: 3px 10px;
	    position: absolute;
		z-index:9999;
    top: 30%;
}
.owl-theme .owl-controls .owl-buttons div.owl-next {
   right:30%;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev {
    left:30%;
}
.owl-theme .owl-controls .owl-buttons div.owl-next:before {
    content: "\f105";
}
.owl-theme .owl-controls .owl-buttons div.owl-prev:before {
    content: "\f104 ";
}
.owl-theme .owl-controls .owl-buttons div:before{
display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-size:100px;
	font-weight:400;
	color:#ccc;
	}
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    opacity: 1;
    text-decoration: none;
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: #0484cf  none repeat scroll 0 0;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}
.owl-theme .owl-controls .owl-buttons div{
    background: #0484cf  none repeat scroll 0 0;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    opacity: 1;
}
.forget-password{
	padding: 40px 0px;
}

.pages-editor{
	padding: 60px 0px;
}
.table-body .submit-button{
	margin-top:0px;
}
.add-prescription{
	padding: 60px 0px;
}
.card-brand select{
	display:block;
	width:100%;
}
.tab-pane input.form-control{
	border:0px;
	background:none;
	box-shadow:none;
}
.tab-pane select{
	border:0px !important;
	background:none;
	background-color:transparent!important;
	box-shadow:none;
}
.tab-pane .dataTables_wrapper .form-control{
       border: #40b2e5 solid 2px !important;
    margin: 0px 5px 15px 5px !important;
    vertical-align: top;
}
.dataTables_length label, .dataTables_filter label{ line-height: 28px; }
#my-allergies .table-design .table-body .table-col{
	min-height: 67px;
	  border-bottom: #7f7f81 solid 1px;
}
 #my-allergies .table-design .table-body .table-col a{
	    margin-top: 6px;
    display: inline-block;
 }
.tab-pane .submit-button {
        background: #0484cf!important;
    padding: 2px 10px !important;
}

.tab-pane .now-editing input,.now-editing input, #my-allergies .now-editing input.form-control {
	background:#eee ;
}
.tab-pane .now-editing select,.now-editing select{
	background:#eee!important;
}
.acadmic-info{ 
	margin:10px 0px;
}
.acadmic-info-ol{
    padding-left: 15px;
}
 
.acadmic-info h4{
	margin:0px;
	font-size: 18px;
}
.acadmic-info .date-info{
	font-size: 12px;
}
.institution-info,.company-info{
	font-size:13px;
	margin:5px 0px;
}

#bs-example-navbar-collapse-2 ul li a{border-bottom:3px solid transparent; padding:10px 6px;}
.padding-0-full.userlogin ul.nav.navbar-nav li a{padding: 15px !important;}
/************ Add Css date : 21-12-2016 ********************/
.col-md-2.mobile-off .navbar-custom-menu{ width: 100%; margin: 0; padding: 0; float: left;}
.col-md-2.mobile-off .navbar-custom-menu ul.nav.navbar-nav{ margin: 0; float: left;}
.col-md-2.mobile-off .navbar-custom-menu ul.nav.navbar-nav li.dropdown{ width: auto; float: left;}
 
.dropdown.notifications-menu a.dropdown-toggle {
    float: left;
    margin: 0;
    padding:18px 5px;
}
.skin-blue .main-header li.user-header {
    background-color: #3c8dbc;
}

.navbar-nav > .user-menu .user-image {
    border-radius: 50%;
    float: left;
    height: 40px;
    margin-right: 10px;
    margin-top: -2px;
    width: 40px;
}
.skin-blue .main-header .navbar .nav > li > a:hover, .skin-blue .main-header .navbar .nav > li > a:active, .skin-blue .main-header .navbar .nav > li > a:focus, .skin-blue .main-header .navbar .nav .open > a, .skin-blue .main-header .navbar .nav .open > a:hover, .skin-blue .main-header .navbar .nav .open > a:focus, .skin-blue .main-header .navbar .nav > .active > a {
    color: #f6f6f6;
}

.dropdown.notifications-menu .dropdown-menu{ max-height: 300px;
   /* overflow-y: scroll;*/
    padding:0px 0;}
.user-footer a.btn.btn-default.btn-flat:hover{ border-bottom: 1px solid #999 !important;}
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
   left: auto;
    margin: 0;
   
    position: absolute;
    right:0px;
    z-index: 9999;
}
#notificationul{right:-20px;}

.notification ul{float: left;
    list-style: outside none none;
    margin: 0;
    max-height: 237px;
    overflow-y: scroll;
    padding: 0 15px;
    /*min-height: 100px;*/
    width: 100%;}
.notification ul li{border-bottom: 1px solid #ddd;
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 5px 0;
    width: 100%;}
.notification ul li:last-child, .notification ul li.norecordfoundli{ border:none;}
.notification ul li a, .notification ul li a:hover{border: medium none !important;
    color: #333;
    float: left;
    font-size: 12px;
    font-weight: 400;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;text-decoration: none;}

.runtimenotify{animation-iteration-count: 1;
    bottom: 0;
    display: inline-block;
    margin: 0 auto;
    position: fixed;
    right: 20px;
    transition: all 0.5s ease-in-out 0s;
    z-index: 3147483646 !important;}
a.close.notifyclose{color: #fff;
    margin-left: 10px;
    opacity: 1;}

#runtimenotify_divid .alert.alert-info{background-color: rgba(87, 87, 87, 0.9);
    border: 1px solid #666;
    color: #fff;}

/********** Arrow Css **********/
.dropdown-menu.headearrow{
	/*position: relative;*/
	background: #f9f9f9;
	border: 1px solid #f9f9f9;
}
.dropdown-menu.headearrow:after, .dropdown-menu.headearrow:before {
	bottom: 100%;
	left:89%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.dropdown-menu.headearrow:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #f9f9f9;
	border-width: 6px;
	margin-left: -6px;
}
.dropdown-menu.headearrow:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #f9f9f9;
	border-width: 8px;
	margin-left: -8px;
}
/************* notification ***********/
.dropdown-menu.notification{
	/*position: relative;*/
	background: #f9f9f9;
	border: 1px solid #f9f9f9;
}
.dropdown-menu.notification:after, .dropdown-menu.notification:before {
	bottom: 100%;
	left:89%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.dropdown-menu.notification:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #f9f9f9;
	border-width: 6px;
	margin-left: -6px;
}
.dropdown-menu.notification:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #f9f9f9;
	border-width: 8px;
	margin-left: -8px;
}



/******* End Arrow Css ********/



.navbar-nav > .user-menu > .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 0;
    padding: 1px 0 0;
    width: 280px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header, .navbar-nav > .user-menu > .dropdown-menu > li.user-header:hover {
    height: 175px;
    padding: 10px;
    text-align: center;
    background:#0499dd !important;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body {
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #dddddd;
    padding: 15px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
    border: 3px solid rgba(255, 255, 255, 0.2);
    height: 90px;
    width: 90px;
    z-index: 5;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
    margin-top: 10px;
    z-index: 5;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
    display: block;
    font-size: 12px;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
background-color: #f9f9f9;
    display: inline-block;
    padding: 10px;
    width: 100%;
}
li.dropdown a.dropdown-toggle{ border:none !important;}
.pull-left {
    float: left;
}
.pull-left {
    float: left !important;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
    color: #666666;
}
.btn.btn-flat {
    border-radius: 0;
    border-width: 1px;
    box-shadow: none;
}
/*.btn-default {
    background-color: #f4f4f4;
    border-color: #ddd;
    color: #444;
}*/


/*.mobile-off{ float: right;}*/




.experience-info{
	display:inline-block;
	margin:10px;
}
.experience-info h4{
	margin:0px;
	font-size: 18px;
}
.experience-info .date-info{
	font-size: 12px;
}
.symptoms-form-modal label{
	float:left;
	width:50%;
}
.symptoms-form-modal .modal-body {
    position: relative;
    padding: 30px;
}
.medical-symtoms-detail h3{
	font-size:20px;
	width:100%;
	display:inline-block;
}
.medical-symtoms-detail  label{
	float:left;
	width:33%;
	margin-bottom:5px;
	padding-left:0px !important;
	
}

.medical-symtoms-detail  i {
    color: #5d974a;
	margin-right:5px;
}

.acadmeic-quali-repeater label{
	color:#c2c3c3;
	font-size:12px;
}
.count-ac span{
       background: #0484cf;
    width: 26px;
    height: 25px;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    padding: 2px;
    text-align: center;
}
.exp-repeat label{
	color:#c2c3c3;
	font-size:12px;
}
.count-we span{
       background: #0484cf;
    width: 26px;
    height: 25px;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    padding: 2px;
    text-align: center;
}

 .partners-section .owl-theme .owl-controls .owl-nav div:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 40px;
    font-weight: 400;
    color: #1d1d1d;
}

.partners-section .owl-theme .owl-controls .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 0px;
    }

.partners-section  .owl-theme .owl-controls .owl-nav div.owl-next {
    right: -40px;
}
.partners-section  .owl-theme .owl-controls .owl-nav div.owl-prev {
    left: -40px;
}



.partners-section .partner-form-background {
    background: #e0e0e0;
    padding: 15px;
    margin: 10px 0px;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
}
.partners-section .partner-form-background .partner-form-half {
    width: 50%;
    float: left;
}

.partners-section .partner-form-background .partner-form-field-half {
    width: 50%;
    float: left;
    margin-bottom: 5px;
    padding: 0px 5px;
}
.partners-section .partner-form-background .partner-form-field {
    width: 100%;
    float: left;
    margin-bottom: 5px;
    padding: 0px 5px;
}
.partners-section .partner-form-background input, .partner-form-background textarea {
    width: 100%;
    border: 0px;
    border-radius: 4px;
    background: #fff;
    padding: 10px;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.partners-section .partner-form-background textarea {
    height: 148px !important;
}

.partners-section .partner-form-background .partner-form-field .btn {
    background: #0499dd;
    border: 0px;
    text-transform: uppercase;
    text-shadow: none;
    width: auto;
        padding: 10px 25px;
}

#ourteam.owl-theme .owl-controls .owl-nav [class*=owl-] {
	font-size:0px;
}
.show-only-mobile{display: none !important; margin-right: 10px;
    margin-top: 13px;
    color: #0471a3; text-transform: uppercase;}
@media screen and (max-width:1012px) { .white-box{
 
    width: 237px;
  
 
}
.owl-theme .owl-controls .owl-nav div{left:93%; right:57%;}
.owl-theme .owl-controls .owl-nav div.owl-prev{left:-32% !important;}
	}

	 @media screen and (max-width: 992px) {
	 	.loginuser #PureChatWidget{
	display: none !important;
}
	 .table-responsive{
		width:900px !important;
	}
	.table-responsive .col-lg-3{
		width:25% !important;
	}
	.table-responsive-res{
		overflow-y:scroll;
		width:100%;
	}.nav-tabs > li > a{
	border-radius:0px;
	width:100%;
}
.nav-tabs > li{
	border-radius:0px;
	width:100%;
}
.border-left-cl{
	border:0px;
}.on-tab-mobile{
	display:block;
}
.navbar-nav{
	float:right;
}
.forgot-password{
	float: right;
width: 100%;
text-align: right;
}
	 .medical-symtoms-detail  label{
	 
	width:50%;
	 
}
	 }
	 @media (max-width: 786px){
		 .medical-symtoms-detail  label{
	float:none;
	width:100%;
	 
}
		  .white-box{
 
    display:none !important;
  
 
}
.navbar-nav   li   a{
	display:inline-block;
}
.mobile-login div{
	width:100%;
}
	 }
@media (min-width: 768px){
.sad-modal .modal-dialog {
    width: 450px;
    margin: 160px auto;
}
}
@media screen and (max-width: 790px) {
	.appointment-table-inner .table-header,.appointment-table-inner .table-data{
	font-size:14px;
}
 
    .navbar-nav {
     margin: 0px !important;  
}
}
@media screen and (max-width: 768px) {
	.show-only-mobile{
		display: block !important;
	}
	.user-pro-pic-main {
    width: 180px;
    margin: 0 auto;
}
	.appointment-table-inner.pending-payments-table-inner {
		width: 900px;
	}
	.owl-item .team-links,.owl-item .team-text{
	display:inline-block;
	width:100%;
}
.nav-tabs > li > a{
	border-radius:0px;
	width:100%;
}
.nav-tabs > li{
	border-radius:0px;
	width:100%;
}
.tab-pane .submit-button{
	margin-bottom:25px;
}
 .tab-pane .medical-history-table .submit-button{
	margin-bottom:0px;
}
.table-design .table-header{
	width:900px!important;  
	float:left;
}
 

.table-design .table-body{
width:900px!important;  
float:left;
}
 
.table-design{
	width:100%;
	overflow-x:scroll;
	float:left;
	    border: #eaeaea solid 1px
}
.no-responsive{
	width:100%;
	overflow-x:visible;
 
	    border:0px
}
.no-responsive  .table-body,.no-responsive .table-header{
	width:100% !important;
float:left;
}
.slider-text h1{
	color:#fff;
	font-size:18px;
	font-weight:bold;
}
.slider-text a{
	color:#fff;
	font-size:14px;
	background:#0384CE;
	padding:5px 10px !important;
}

    .navbar-nav {
     margin: 0px !important;  
}
.login-form{
    margin: 15px !important;  
}
.collapse .navbar-nav{
	margin:10px 0px !important;
	padding:10px!important;
}
	.footer-nav{
		width:100%;
		margin:15px 0px;
		padding:10px 0px;
	}
	.footer-text{
		padding:15px 0px;
	}
	.footer-nav ul li a {
  
    padding: 0px 5px;
}
.socail-icon{
	margin:15px 0px;
 
}
.what-we-treat-inner .what-we-treat-box{
	width:50%;
}
 
.padding-right-0 {
    padding-right: 15px !important;
}
.signup-form-step h2{
	margin-top:20px;
}
.profile-table .table-data,.profile-table .table-header{
	font-size:16px;
}
.appointment-table-inner .table-header{
	min-height:70px;
}
.team-img img{
	width:100%;
}
.home-slider-signup-inner img{
	height:auto !important;
	margin-bottom:20px;
}
.appointment-table-inner .table-header,.appointment-table-inner .table-data{
	font-size:14px;
}
 .save-money-inner-icon{
	 text-align:center;
 }
 .save-money-inner-icon img{
	 margin-top:10px;
 }
 .home-blue-wrapper-inner {
    font-size: 18px;
 }
 .save-money-section-inner h2 {
    font-size: 32px;
}
 .save-money-inner-icon span{
	 display:block;
	 margin-bottom:5px;
	 font-size:30px;
 }
h1.title-blue { 
    font-size: 26px;
}
.row{
	margin-left:0px;
	margin-right:0px;
}
header .row{
	margin-left:-15px;
	margin-right:-15px;
}
.home-slider-signup-inner{
	padding:0px;
}
.home-slider-signup-inner .row{
	margin-left:-15px;
	margin-right:-15px;
}
.by-click label {
  
    width: 86%;
}
.save-money-section{margin-top:30px;}
.save-money-inner-icon .pull-left{
	float:none  !important;
}
.owl-theme .owl-controls .owl-buttons div.owl-next {
    right: 0 !important;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev {
    left:0 !important;
}
}
@media screen and (max-width: 767px) {
.mobile-login{
	display:inline-block;
	width:100%;
}
.mobile-off{
	display:none;
}
.navbar-nav{
	float:left;
}
#loginform-mob input{
	width:100% !important;
}
.owl-theme .owl-controls .owl-nav div{left:86%; right:55%;}
.owl-theme .owl-controls .owl-nav div.owl-prev{left:-26% !important;}
.owl-theme .owl-controls .owl-nav div{top:20%!important;}
}
@media screen and (max-width: 650px) {

.loginuser #PureChatWidget{
	display: none !important;
}
.partners-section .partner-form-background .partner-form-half {
    width: 100%;
    float: left;
}

.partners-section .partner-form-background .partner-form-field-half {
    width: 100%;
}

.owl-theme .owl-controls .owl-buttons div.owl-next {
    right: 0 !important;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev {
    left:0 !important;
}
.footer-icon{
	width:100%;
	margin:5px 0px;
}
.footer-nav ul{
	float:none;
}
.other-profile-section .col-lg-12{
	margin-bottom:15px;
	width:100%;
	display:inline-block;
}
}
@media screen and (max-width: 480px) {
	.login-form input{
		width:100% !important;
		margin-bottom:10px;
	}
	.login-form .login-button{
		width:100%;
		margin-bottom:10px;
	}
	.login-form{
		margin:0px !important;
	}
	.mobile-login a{
	text-decoration:none;
	/*color:#fff;*/
	
	}
	.comp-pro-full{
	margin-top: 15px;
    width: 90%;
}
}
@media screen and (max-width: 330px) {
.what-we-treat-inner .what-we-treat-box{
	width:100%;
}
.owl-theme .owl-controls .owl-nav div:before{
	font-size:55px !important;
}
.owl-theme .owl-controls .owl-nav div{left:91%;}
.owl-theme .owl-controls .owl-nav div.owl-prev{left:-26% !important;}
}

/*added css*/

   .owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
}
.owl-theme .owl-controls .owl-nav div::before {
    color: #ccc;
    display: inline-block;
    font: 400 100px/1 FontAwesome;
    text-rendering: auto;
}
.owl-theme .owl-controls .owl-nav div {
    background:none!important;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-size: 0px;
    margin: 5px;
    opacity: 0.5;
    padding: 3px 10px;
	    position: absolute;
		z-index:9999;
    top: 13%;
}
.owl-theme .owl-controls .owl-nav div.owl-next {
   right:30%;
}
.owl-theme .owl-controls .owl-nav div.owl-prev {
    left:30%;
}
.owl-theme .owl-controls .owl-nav div.owl-next:before {
    content: "\f105" !important;
}
.owl-theme .owl-controls .owl-nav div.owl-prev:before {
    content: "\f104 "!important;
}
.owl-theme .owl-controls .owl-nav div:before{
display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	font-size:100px;
	font-weight:400;
	color:#ccc;
	}
.owl-theme .owl-controls.clickable .owl-nav div:hover {
    opacity: 1;
    text-decoration: none;
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: #0484cf  none repeat scroll 0 0;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}
.owl-theme .owl-controls .owl-nav div{
    background: #0484cf  none repeat scroll 0 0;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    opacity: 1;
}
.our-team .our-team-inner{
	padding:30px 0px;
	display:inline-block;
	width:100%;
	position:relative;
}
.white-box{
	    background: rgba(255,255,255,.5);
    position: absolute;
     height: 450px;
    width: 275px;
    z-index: 999;
 
}
.white-box.doc-box-left{
	width: 270px;
}
.doc-box-right{
	right:0px;
}
.our-team .our-team-inner h1{
	margin-bottom:25px;
	width:100%;
	display:inline-block;
}
.our-team .our-team-inner .team-name{
	 
	color:#2e9ac1;
	padding:10px 10px;
	text-align:center;
	font-size:21px;
}
.our-team .our-team-inner .team-text{
	padding:5px 20px;
	text-align:center ;
}
.our-team-box .team-img {
    text-align: center;
}
.owl-carousel .owl-item img {display:inline-block !important;
}

@
/*new add css*/

nav.navbar-nav > li.dropup, .dropdown a .fa.away{font-size:25px;}

nav.navbar-nav > li.dropup, .dropdown a .fa.away{font-size:17px;}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a, .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a, .navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a{background:#f6f4f4;}
.navbar-nav > .notifications-menu > .dropdown-menu > li.header, .navbar-nav > .messages-menu > .dropdown-menu > li.header, .navbar-nav > .tasks-menu > .dropdown-menu > li.header{background:#fff;}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{background-color:transparent !important;}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a, .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a, .navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #f4f4f4;
    display: block;
    white-space: nowrap;
}
.table-design .table-body:nth-child(odd){background-color: #f7f7f7; display: inline-block; width: 100%;}
form.formevenclass,{ width: 100%; margin: 0; display: inline-block;}
form.formevenclass{background-color: #fff !important;}

form.formevenclass:nth-child(even) .table-body{background-color: #fff !important;}
form.formevenclass:nth-child(odd){background-color: #f7f7f7 !important;}

form.myupdateformevenclass:nth-child(even) .table-body{background-color: #fff !important;}
form.myupdateformevenclass:nth-child(odd) .table-body{background-color: #f7f7f7 !important;}



.medical-history-table.table-design .table-body:nth-child(odd){
	background: none;
}


.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a{border-bottom:1px solid #f4f4f4!important; padding-right:0px;}
/*.mobile-off  .nav.navbar-nav li.dropdown a{border-bottom:none !important;}*/

.label-warning.lbls{border-radius: 100%;
    float: left;
    height: 20px;
    left: 12px;
    margin-top: 0;
    padding: 5px 0;
    position: absolute;
    top:6px;
    width: 20px;}


ul#notificationul li{float: left;
    padding: 0 8px;
    position: relative;
    text-align: left;
    width: 100%;}

ul#notificationul li a {
    border: medium none !important;
    color: #333;
    float: left;
    position: relative;
    text-align: left;
    white-space:inherit !important;
    width: 100%;
    padding: 5px 5px;
}


.medical-history-table .table-design>:nth-child(odd)>div,
.medical-history-table .table-design>:nth-child(odd)>div {
	background-color: #f7f7f7;
}

.navbar-nav > .notifications-menu > .dropdown-menu, .navbar-nav > .messages-menu > .dropdown-menu, .navbar-nav > .tasks-menu > .dropdown-menu
{width:300px!important; word-wrap: wrap !important; padding: 10px 0px;}
.user.user-menu{
	max-width: 168px;
}

.doc-day-time-profile .left-col{
		float: left;
		width: 40%;
}

.doc-day-time-profile .right-col{
		float: left;
		width:60%;
}
.doc-day-time-profile .right-col span{
	display:block;
}
.doc-day-time-profile {
	margin-bottom: 5px;
	display: inline-block;
	width: 100%;
}
.user-pro-pic-main{
	height: 210px;
	overflow: hidden;
	position: relative;
}
.user-pro-pic-main img{
	  height: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);

}
.our-partners-box{
	padding: 0px 5px;
	height: 100px;
	overflow: hidden;
	position: relative;
}

.our-partners-box img{
	  height: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);

}

.our-client-text-home{
	width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    display: block;
}	


 @media (max-width: 992px){
.user-pro-pic-main { 
    display: inline-block;
}
}
 @media (max-width: 650px){
 	.user-pro-pic-main {
    height: 320px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
}
.our-client-text-home{
	width: 96%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    display: block;
}	
.partners-section  .owl-theme .owl-controls .owl-nav div.owl-next {
    right: -20px;
}
.partners-section  .owl-theme .owl-controls .owl-nav div.owl-prev {
    left: -20px;
}
.our-partners-box{
	padding: 0px 5px;
	height: 190px;
	} 
.what-we-treat-inner .what-we-treat-box .treat-title {
 
    min-height: 66px;
    }
    .our-team-box {
     min-height: inherit; 
}

.other-profile-section h2 {
    font-size: 17px;
    margin-top: 14px;
}
.submit-button { 
    padding: 5px 10px; 
    margin-top: 10px; ;
}



    }





    .small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.bg-yellow-gradient {
    background: #f39c12 !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f39c12), color-stop(1, #f7bc60)) !important;
    background: -ms-linear-gradient(bottom, #f39c12, #f7bc60) !important;
    background: -moz-linear-gradient(center bottom, #f39c12 0, #f7bc60 100%) !important;
    background: -o-linear-gradient(#f7bc60, #f39c12) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7bc60', endColorstr='#f39c12', GradientType=0) !important;
    color: #fff;
}

.small-box > .inner {
    padding: 10px;
}

.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0,0,0,0.15);
}

.small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255,255,255,0.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.1);
    text-decoration: none;
}

.bg-green-gradient {
    background: #00a65a !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00a65a), color-stop(1, #00ca6d)) !important;
    background: -ms-linear-gradient(bottom, #00a65a, #00ca6d) !important;
    background: -moz-linear-gradient(center bottom, #00a65a 0, #00ca6d 100%) !important;
    background: -o-linear-gradient(#00ca6d, #00a65a) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ca6d', endColorstr='#00a65a', GradientType=0) !important;
    color: #fff;
}

.bg-blue-gradient {
    background: #0073b7 !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0073b7), color-stop(1, #0089db)) !important;
    background: -ms-linear-gradient(bottom, #0073b7, #0089db) !important;
    background: -moz-linear-gradient(center bottom, #0073b7 0, #0089db 100%) !important;
    background: -o-linear-gradient(#0089db, #0073b7) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089db', endColorstr='#0073b7', GradientType=0) !important;
    color: #fff;
}


.small-box-padd-o{
	padding-left: 0px;
}
 @media (max-width: 992px){

.padding-0-full.userlogin ul.nav.navbar-nav li a {
    padding: 10px 8px !important;
}
.mobile-off .user-menu span,.notifications-menu{
	display: none !important;

}
}
 @media (max-width: 650px){
 	.small-box-padd-o{
	padding-left: 15px;
}
header {
    padding: 10px 0px;
    }

    .call-end-btnn{
    	display: block;

margin-bottom: 10px;
    }
}
