/*
***************************************************************
***********  Css File *****************************
******************************************************
**************************************************
*/

body{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #465052;
  /*background:#e7e7e9;*/
}
a{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #4CB9D2;

}
a:hover{
  text-decoration: none;
}
/*
*********************************
*********** Header ************
*****************************
*/
.submit-button{
    background: #0484cf;
    padding: 10px 20px;
    color: #fff;
    border-radius: 4px;
    margin-top: 10px;
    display: inline-block;
	border:0px;
}
.navbar-toggle .icon-bar{
background:#fff;
}
header {
  padding: 20px 0px;
  background:#0499dd;
}
header .logo{
    margin-top: 5px;
	display:inline-block;
}
.navbar-nav a{
	color:#fff;
	font-weight:bold;
} 
.navbar-nav a:hover{
	background:none !important;
	}
	.navbar-nav li:hover{
	background:none !important;
	}

.login-form input{
	width:150px  !important;
	float:left;
	background:#f4f4f4;
	border:0px;
	border-radius:0px;
	margin-right:5px;
}
.login-form input.login-email{
	width:200px  !important;
}
.login-form .login-button {
	background:#ffffff;
	color:#0281ce;
	border-radius:0px;
	padding:6px 15px;
	 
}
.navbar-form {
	padding:0px !important;
	margin:0px !important;
}
.home-slider-signup-inner{
	padding:15px;
}
.signup-form input{
	border-radius:0px;
	margin-bottom:10px;
	border:#40b2e5 solid 2px;
} 
.signup-form select{
	display:inline-block;
	width:32.5%;
	margin-right:0px !important;
	border-radius:0px;
	margin-bottom:10px;
	border:#40b2e5 solid 2px;
	    padding: 5px;
}
.signup-form .expiry select{
 
	width:49%;
 
}
.padding-0-full{
	padding:0px !important;
}
.forgot-password{
	float:right;
	color:#fff;
	margin-right: 112px;
}
.navbar-toggle { 
    margin-top: 13px;
}
.add-profile-pic{
    width: 100%;
    margin: 15px 0px;
}
.signup-form .submit-button{
	background:#0484cf;
	padding:10px 20px;
	color:#fff;
border-radius:4px;
margin-top:10px;
    display: inline-block;
}
.home-slider-signup-inner h1{
	margin:0px;
	padding:0px;
	color:#274ea1;
	font-size:24px;
	margin-bottom:5px;
}
.log-out-button {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}
.home-slider-signup-inner h3{
	margin:0px;
	padding:0px;
	color:#67b2de;
	font-size:14px;
	margin-bottom:15px;
}
 
.home-slider-signup-inner a{
	 margin-right:5px;
	   padding:5px 10px!important;
	   text-decoration:none;
	   color:#3d3d3d;
	   margin-top:10px;
	       display: inline-block;
}
.home-slider-signup-inner a.active{
    color: #fff;
	background:#0484cf;
	border-radius:4px;
}

.home-slider-signup-inner .radio input[type=radio] {
    /*position: absolute;
    visibility: hidden;*/
}
.padding-0{
	padding:0px !important;
}
.navbar-nav > li > a{
 
}
.navbar-collapse{
	padding-left:0px;
	padding-right:0px; }

.home-blue-wrapper{
	background:#0499dd;
}
.home-blue-wrapper-inner{
	font-size:24px;
	text-align:center;
	color:#fff;
	padding:25px 10px;
}
.save-money-section{
	background:#d4fbff;
	padding:30px 0px;
}
.save-money-section-inner{
	text-align:center;
	
}
.save-money-section-inner h2{
	color:#6e6e6e;
	font-size:45px;
}
.save-money-section-inner p{
	color:#0e85c9;
	font-size:16px;
}
.save-money-inner-icon{
	font-size:16px;
	color:#0079ca;
	width:80%;
	margin: 0 auto;
}
.save-money-inner-icon img{
    margin-top: -26px;
}
.save-money-inner-icon span{
	color:#43b3e5;
	font-size:60px;
	font-weight:700;
	margin:0px 5px;
}
.our-serivce-inner{
	padding:30px 0px;
	text-align:center;
	border-bottom:#bebfc1 solid 2px;
	display:inline-block;
}
h1.title-blue{
	color:#0093d9;
	font-size:46px;
}
.our-serivce-inner .service-title{
	font-size:18px;
	font-weight:700;
	color:#515153;
	padding:10px 0px;
}
.our-serivce-inner .service-text{
	font-size:14px;
	font-weight:700;
	color:#707071;
	padding:10px 15px;
}
.what-we-treat-inner{
	padding:30px 0px;
}
.what-we-treat-boxes{
	margin:0 auto;
	width:90%;
}
.what-we-treat-inner .what-we-treat-box{
	margin:20px 0px;
	width:20%;
	float:left;
	min-height:120px;
}
.what-we-treat-inner .what-we-treat-box .treat-title{
	color:#707071;
	font-size:16px;
	padding:10px 0px;
}
.what-we-treat-text{
	font-size:22px;
	color:#656566;
	width:100%;
	display:inline-block;
}

.cost-section{
	background:#d4fbff;
	padding:20px 0px;
}
.cost-section{
	color:#656b6c;
	font-size:21px;
}
.our-team .our-team-inner{
	padding:30px 0px;
	display:inline-block;
	width:100%;
}
.our-team .our-team-inner h1{
	margin-bottom:25px;
	width:100%;
	display:inline-block;
}
.our-team .our-team-inner .team-name{
	background:#2e9ac1;
	color:#fff;
	padding:5px 10px;
	text-align:center;
	font-size:18px;
}
.our-team .our-team-inner .team-text{
	padding:5px 0px;
}

footer{
	background:#0484cf;
	padding:20px 0px;
	 
}
.footer-text{
	color:#FFFFFF;
	font-size:16px;
	padding:10px 40px;
	text-align:center;
}
.footer-nav{
	width:80%;
	margin:10px 12%;
	border-bottom:#fff solid 1px;
	text-align:center;
	display:inline-block;
	padding:15px 30px;
}
.footer-nav ul{
	list-style:none;
	margin:0px;
	padding:0px;
	display:inline-block;
	 
}
.foot-nav-inner{
	text-align:center;
}
.footer-nav ul li{
	float:left;
	border-right:#fff solid 1px;
	margin-right:5px;
}
.footer-nav ul li a{
	text-decoration:none;
	color:#fff;
	padding:0px 30px;
}
.border-0{
	border:0px !important;
}
.socail-icon{
	 
	margin-left:15px;

}
.footer-icon{
	color:#fff;
	width:150px;
	font-size:18px; 
	display:inline-block;
}
.footer-icon img{
	margin-right:15px;
}
.signup-form-step{
	padding:60px 0px;
}
.padding-right-0{padding-right: 0px !important;}
.signup-form-step label{
	width:100%;
	display:inline-block;
	color:#59595b;
	font-size:17px;
}
.signup-form-step input,.signup-form-step textarea  {
    border-radius: 0px;
    margin-bottom: 10px;
    border: #40b2e5 solid 2px;
	 
}
.signup-form-step h2{
	color:#0499db;
	font-size:23px;
	margin:0px;
	margin-bottom:15px;
}
.signup-form-step .contact-detail-last{
	padding-top:38px;
}
.signup-form-step select {
    display: inline-block;
    width: 32%;
    margin-right: 0px !important;
    border-radius: 0px;
    margin-bottom: 10px;
    border: #40b2e5 solid 2px;
    padding: 5px;
}
.statutory-section{
	background:#d4fbff;
	padding:40px 0px;
}

.statutory-section input,.statutory-section textarea  {
    border-radius: 0px;
    margin-bottom: 10px;
    border: 0px;
	 
}
.statutory-section h2{
	color:#0499db;
	font-size:23px;
	margin:0px;
	margin-bottom:15px;
}
.statutory-section .expiry select {
    display: inline-block;
    width: 32%;
    margin-right: 0px !important;
    border-radius: 0px;
    margin-bottom: 10px;
    border: 0px;
    padding: 5px;
}
.statutory-section .expiry label{
	width:100%;
}
.statutory-section label{
	width:100%;
	display:inline-block;
	color:#545353;
	font-size:17px;
}
.other-profile-section{
	padding:30px 0px;
}
.other-profile-section h2{
	color:#0499db;
	font-size:23px;
	margin:0px;
	margin-bottom:15px;
}
.other-profile-section input,.other-profile-section textarea ,.form-control{
    border-radius: 0px;
    margin-bottom: 10px;
    border: #40b2e5 solid 2px;
	 
}
 select {
     display: inline-block;
    
    margin-right: 0px !important;
    border-radius: 0px!important;
    margin-bottom: 10px!important;
    border: #40b2e5 solid 2px!important;
    padding: 5px!important;
}
.other-profile-section select {
     display: inline-block;
    width: 32%;
    margin-right: 0px !important;
    border-radius: 0px;
    margin-bottom: 10px;
    border: #40b2e5 solid 2px;
    padding: 5px;
}
.other-profile-section label{
	width:100%;
	display:inline-block;
	color:#545353;
	font-size:17px;
}

.submit-btn{
    background: #0484cf;
    padding: 10px 20px;
    color: #fff;
    border-radius: 4px;
    margin-top: 10px;
    display: inline-block;
}

.tab-pane input,.tab-pane textarea  {
    border-radius: 0px;
    margin-bottom: 10px;
    border: #40b2e5 solid 2px;
	 
}
.tab-pane select {
     display: inline-block;
    width: 32%;
    margin-right: 0px !important;
    border-radius: 0px;
    margin-bottom: 10px;
    border: #40b2e5 solid 2px;
    padding: 5px;
}
.tab-pane label{
	width:100%;
	display:inline-block;
	color:#545353;
	font-size:17px;
}
.tab-pane .radio label{
	width: auto;
	 
}
.tab-pane .submit-button{
    background: #0484cf;
    padding: 10px 20px;
    color: #fff;
    border-radius: 4px;
    margin-top: 10px;
    display: inline-block;
}


.add-more{
	color:#40b2e5 ;
	font-size:16px;
	margin:10px 0px;;
}
.border-left-cl{
	 border-left: #40b2e5 solid 1px;
	 padding-left:25px;
 }
 .profile-table .table-header{
	/*width:50%;*/
	padding:15px 0px;
	background:#0499dd;
	color:#ffffff;
	float:left;
	font-size:21px;
	text-align:center;

 }
 .profile-table{
	border:#7f7f81 solid 1px;
	display:inline-block;
	width:100%;
 }
 .profile-table .table-data{
	/*width:50%;*/
	padding:15px 0px;
	float:left;
	font-size:21px;
	text-align:center;
	border-bottom:#7f7f81 solid 1px;

 }
 .tab-pane input{
     margin-bottom: 0px;
 }
 .form-button {
    background: #0484cf;
    padding: 6px 20px;
    color: #fff;
    border-radius: 4px;
    margin-top: 0px;
    margin-bottom:20px;
    display: inline-block;
}
 .border-right{
	border-right:#7f7f81 solid 1px;
 }
 .profile-table .table-data.last{
	border-bottom:0px !important;
 }
  .appointment-link-inner{
	  padding:40px 0px;
  }
 .appointment-link-inner a{
	background:#40b2e5;
	padding:20px 30px;
	color:#fff;
	border-radius:3px;
	font-size:18px;
	width:100%;
	display:inline-block;
	text-align:center;
	margin-bottom:20px;
        text-transform: uppercase;
 }
 .log-out-button{
     margin: 5px 10px;
     float: right;
 }
 .appointment-link-inner a:hover{
     
     color:#fff;
     text-decoration: none;
 }
 .appointment-table-inner{
	 
	display:inline-block;
	width:100%;
 }
 .appointment-table-inner .table-data{
	width:33.333%;
	padding:15px 0px;
	float:left;
	font-size:21px;
	text-align:center;
	border-bottom:#7f7f81 solid 1px;

 }
 .border-right{
	border-right:#7f7f81 solid 1px;
 }
 .appointment-table-inner .table-data.last{
	border-bottom:0px !important;
 }
   .appointment-table-inner .table-header{
	width:33.333%;
	padding:15px 0px;
	background:#0499dd;
	color:#ffffff;
	float:left;
	font-size:21px;
	text-align:center;

 }
 .appointment-table{
	background:#d4fbff;
	padding:40px 0px;
}

 .appointment-table h2{
	color:#0499db;
	font-size:23px;
	margin:0px;
	margin-bottom:15px;
}
.treat-innerappointment{
	border-bottom:#bcbcbe solid 1px;
}
.appointment-list-section{
	padding:40px 0px;
}
.appointment-list-box{
	padding:5px 0px;
	border-top:#41b3e7 solid 1px;
	margin-top:60px;
}
.appointment-list-box h3{
	background:#fff;
	padding:5px 0px;
	margin-top:-26px;
	font-size:22px;
	padding-right:10px;
	float:left;
	display:inline-block;
}
.service-image img{
	width:100%;
}

.sad-modal .modal-content{
	background:#0484cf;
	color:#fff;
}
.sad-modal input{
	padding: 10px;
        border-radius:0px;
}
.sad-modal select{
	padding: 10px;
        border-radius:0px;
         width: 100%;
}
.sad-modal textarea{
	padding: 10px;
        border-radius:0px;
        width: 100%;
}
button.close{
	color: #fff;
    position: absolute;
    right: 15px;
    top: 10px;
    opacity: .4;
    font-size: 30px;
    font-weight: 300;
	z-index:999;
}
.sad-modal .modal-body {
    position: relative;
    padding: 40px;
}
.sad-modal h2{
	font-size:22px;
	margin:10px 0px;
	padding:0px;
}
.see-doctor-now{
	margin-bottom:35px;
	display: inline-block;
}
.sad-modal  .sad-button{
	background:#fff;
	color:#186f9a;
	font-size:14px;
	text-decoration:none;
	padding:5px 15px;
	border-radius:4px;
	    display: inline-block;
}
button.close:hover{
	color: #fff;
	 opacity: 1;
	}
.schedule-appointment{
	display:inline-block;
	width:100%;
}
.radio label{
	margin-right:10px;
}	
.request-a-doctor p{
	margin-bottom:20px;
}
.text-link-modal{
	color:#ffffff;
	font-size:18px;
	margin-right:15px;
}

.user-profile-section{
	padding:40px 0px;
}

 .doctor-info-form input ,  .doctor-info-form  textarea{
    border-radius: 0px;
    margin-bottom: 10px;
    border: #40b2e5 solid 2px;
}
 .doctor-info-form .submit-button {
    background: #0484cf;
    padding: 10px 20px;
    color: #fff;
    border-radius: 4px;
    margin-top: 10px;
    display: inline-block;
}
.submit-save-button{
	background: #0484cf !important;
    padding: 10px 65px !important;
    color: #fff !important;
    border-radius: 4px !important;
    margin-top: 20px !important;
    display: inline-block  !important;
	font-size:18px !important;
}
.user-profile-section input, .user-profile-section textarea {
    border-radius: 0px;
    margin-bottom: 10px;
    border: #40b2e5 solid 2px;
}
.user-profile-section select {
    display: inline-block;
    width: 32%;
    margin-right: 0px !important;
    border-radius: 0px;
    margin-bottom: 10px;
    border: #40b2e5 solid 2px;
    padding: 5px;
}
.tab-pane{
	padding:25px 10px; 
}

.nav-tabs{
    border-bottom: 1px solid #0497dc;
}


.nav-tabs > li > a {
    margin-right: 20px;
    line-height: 1.42857143;
   border: 1px solid #0497dc;
    border-radius: 4px 4px 0 0;
	padding:10px 30.1px;
	font-size:16px;
	
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: pointer;
    background-color: #0497dc;
    border: 1px solid #0497dc;
    border-bottom-color: transparent;
	
}
.nav-tabs > li > a:hover {
    color: #fff;
    cursor: pointer;
    background-color: #0497dc;
    border: 1px solid #0497dc;
    border-bottom-color: transparent;
}

.table-design .table-header .table-head-col{
    background: #0398dc;
    /*width: 25%;*/
    float: left;
    padding: 15px;
    text-align: center;
    color: #fff;

}
.table-design .table-body .table-row{
border-bottom:#eaeaea solid 1px; 
clear:both;
}
.table-design .table-body .table-col{
	
	/*width:25%;*/
	float:left;
	padding:15px;
	text-align:center;
        min-height: 50px;
	 

}
#my-allergies .table-design .table-header .table-head-col, #my-allergies .table-design .table-body .table-col{
	/*width:33.333%;*/
}
#existing-condition .table-design .table-header .table-head-col, #existing-condition .table-design .table-body .table-col{
	/*width:100%;*/
}
#family-history .table-design .table-header .table-head-col, #family-history .table-design .table-body .table-col{
	/*width:33.333%;*/
}
#my-doctors .table-design .table-header .table-head-col, #my-doctors .table-design .table-body .table-col{
	/*width:25%;*/
}
.button-submit{
    margin: 10px 0px;
}
.date-select-small select{
    width: 32%;
}
.dashboard-section{
	padding:50px 0px;
 }
.dashboard-table{
}
.dashboard-table .table-header .table-head-col{
    background: #0398dc;
    width: 33.333%;
    float: left;
    padding: 15px;
    text-align: center;
    color: #fff;

}
.dashboard-table .table-body .table-col{
	border-bottom:#eaeaea solid 1px;
	width:33.333%;
	float:left;
	padding:15px;
	text-align:center;
}
.table-head-col-edit{
	padding:10px 15px !important;
	height:51px;
}
.dashboard-hr{
	margin:60px 0px;
}
.mobile-login{
	display:none;
}
.slider-sec{
	position:relative;
}
.slider-text{
	position:absolute;
	bottom:20px;
	right:20px;
	width:150px;
}
.slider-text h1{
	color:#fff;
	font-size:29px;
	font-weight:bold;
}
.slider-text a{
	color:#fff;
	font-size:16px;
	background:#0384CE;
	padding:10px 20px !important;
}
.credit-card-info{
	/*background:#f2f2f2;
	display: inline-block;
padding: 5px;*/
}

.date-select select{
  width: 32.33%;
  display:inline-block;
 }
 .date-select label{
  width: 100%;
  display:inline-block;
 }
.profile-table .table-data{
 /*width:25%;*/
 padding:15px 0px;
 float:left;
 font-size:21px;
 text-align:center;
 border-bottom:#7f7f81 solid 1px;

 }
.profile-table .table-header{
 /*width:25%;*/
 padding:15px 0px;
 background:#0499dd;
 color:#ffffff;
 float:left;
 font-size:21px;
 text-align:center;

 }
 .complete-profile{
     background: #4cae4c;
     padding: 10px 15px;
     color: #FFFFFF;
     float: right;
     margin-top: 40px;
     border-radius:3px;
 }
 .complete-profile:hover{
     color:#fff;
     text-decoration: none;
 }
 .doctor-list{
     display: inline-block;
 }
 .add-doctor-btn{
     float: right;
     margin-top: 10px;
 }
 .medical-history-detail{
	 background:#f6f6f6;
	 padding:15px;
	 display:inline-block;
	 width:100%;
	 margin:15px 0px;
	 font-size:14px;
 }
 .medical-history-detail strong{
	 font-size:16px;
	 margin-bottom:15px;
	 display:inline-block;
 }
 .med-detail-wrapp{
	 margin-bottom:30px;
	 padding-bottom:20px; 
 }
  .med-detail-wrapp h3{
	 margin-bottom:10px;
 }
.medical-history-detail .col-lg-4{
	margin:10px 0px; 
	
}
	 
@media (min-width: 768px){
.sad-modal .modal-dialog {
    width: 450px;
    margin: 160px auto;
}
}
@media screen and (max-width: 790px) {
	.appointment-table-inner .table-header,.appointment-table-inner .table-data{
	font-size:14px;
}
 
    .navbar-nav {
     margin: 0px !important;  
}
}
@media screen and (max-width: 768px) {
.nav-tabs > li > a{
	border-radius:0px;
	width:100%;
}
.nav-tabs > li{
	border-radius:0px;
	width:100%;
}
.tab-pane .submit-button{
	margin-bottom:25px;
}
.table-design .table-header{
	width:900px;
	float:left;
}
 

.table-design .table-body{
width:900px;
float:left;
}
 
.table-design{
	width:100%;
	overflow-x:scroll;
	float:left;
	    border: #eaeaea solid 1px
}
.slider-text h1{
	color:#fff;
	font-size:18px;
	font-weight:bold;
}
.slider-text a{
	color:#fff;
	font-size:14px;
	background:#0384CE;
	padding:5px 10px !important;
}
.mobile-login{
	display:inline-block;
}
.mobile-off{
	display:none;
}
    .navbar-nav {
     margin: 0px !important;  
}
.login-form{
    margin: 15px !important;  
}
.collapse .navbar-nav{
	margin:10px 0px !important;
	padding:10px!important;
}
	.footer-nav{
		width:100%;
		margin:15px 0px;
		padding:10px 0px;
	}
	.footer-text{
		padding:15px 0px;
	}
	.footer-nav ul li a {
  
    padding: 0px 5px;
}
.socail-icon{
	margin:15px 0px;
	display:block;
}
.what-we-treat-inner .what-we-treat-box{
	width:50%;
}
 
.padding-right-0 {
    padding-right: 15px !important;
}
.signup-form-step h2{
	margin-top:20px;
}
.profile-table .table-data,.profile-table .table-header{
	font-size:16px;
}
.appointment-table-inner .table-header{
	min-height:70px;
}
.team-img img{
	width:100%;
}
.home-slider-signup-inner img{
	height:auto !important;
	margin-bottom:20px;
}
.appointment-table-inner .table-header,.appointment-table-inner .table-data{
	font-size:14px;
}
 .save-money-inner-icon{
	 text-align:center;
 }
 .save-money-inner-icon img{
	 margin-top:10px;
 }
 .home-blue-wrapper-inner {
    font-size: 18px;
 }
 .save-money-section-inner h2 {
    font-size: 32px;
}
 .save-money-inner-icon span{
	 display:block;
	 margin-bottom:5px;
	 font-size:30px;
 }
h1.title-blue { 
    font-size: 26px;
}
}
@media screen and (max-width: 480px) {
	.login-form input{
		width:100% !important;
		margin-bottom:10px;
	}
	.login-form .login-button{
		width:100%;
		margin-bottom:10px;
	}
	.login-form{
		margin:0px !important;
	}
	.mobile-login a{
	text-decoration:none;
	color:#fff;
	
	}
}
@media screen and (max-width: 330px) {
.what-we-treat-inner .what-we-treat-box{
	width:100%;
}
}

/*
*****************************************************
*******************************************
******************************************************
*/

.form-register-doctor{
	padding:60px 0px;
	display:inline-block;
	width:100%;
}
.form-register-doctor .submit-button{
	margin-top:20px;
}
.form-register-doctor select{
	 
	width:100%;
	padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.timing-container select{
	 float:left;
	 margin:15px 5px;
	width:48%;
}
	
.mutliSelect{
	width:100%;
	display:inline-block;
}
.mutliSelect ul{
	margin:0px;
	padding:0px;
}
.mutliSelect li{
	list-style:none;
	float:left;
	width:50%;
	text-align:left;
}
.mutliSelect li input {
	margin-right:10px;
}
.and-text{
	width:100%;
	text-align:center;
}

/**************


*************/

#psychologistselector{
	height:37px;
}
.doc-name{
	float: left; width: 20%;
}
.doc-discription{
	float: left; width: 75%;
}

.doc-discription h3{
	margin-top:0px; margin-bottom:0px; font-size:16px; font-weight:700;
}

.doc-discription i i{
}
.doc-discription i i.active{
	color:#4cae4c ;
}

.doc-discription p{
    margin-bottom: 2px;
    
}

.psycho{
    margin-bottom: 15px;
}





/**********************************************/
.video-section{
	position:relative;
}
.video-chat-options{
	 background:rgba(4, 153, 221, 0.7);
	 padding:25px 0px;
	 color:#fff;
	 font-size:24px;
	 position:absolute;
	 bottom:0px;
	 width:100%;
	
}
.dotor-name-video-sec{
	 background:rgba(4, 153, 221, 0.7);
	 padding:10px 30px;
	 color:#fff;
	 font-size:21px;
	 position:absolute;
	 bottom:170px;
	 text-transform:uppercase;
}
.video-chat-options span{
	font-size:32px;
}
.video-chat-options i{
	margin-right:80px;
	font-size:46px;
}

.dr-video-pt{
	 position:absolute;
	 top:0px;
	 right:0px;
	 width:350px;
	 border:#fff solid 10px;
}
.error{
	color:#ff0000; 
	display:block;
	 
}